<!DOCTYPE html>
<html lang="en">

<head>
  <title>Afterglow Core</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <!-- <link rel="icon" href="favicon.ico"> -->
  <link rel="stylesheet" href="https://cdn.materialdesignicons.com/2.5.94/css/materialdesignicons.min.css">
  <script src="{{url_for('static', filename='js/afterglow-core.js')}}"></script>

  {% block scripts %} {% endblock scripts %}


</head>
<div id="fullheight-hero" class="bd-example is-fullwidth">
  <div id="app">
    <div class="hero is-primary is-fullheight">
      <div class="hero-body">
        <div class="container is-centered">
          <div class="columns is-centered">


            {% block content %} {% endblock content %}

          </div>
        </div>
      </div>
    </div>
  </div>

</div>

</html>
