//variables
$white: #ffffff;
$grey: #8c9b9d;
$grey-light: #a9afb7;
$grey-lighter: #dee2e5;
$charcoal: #272727;
$charcoal-darker: #222;
$orange: #e67e22;
$yellow: #f1b70e;
$green: #2ecc71;
$turquoise: #1abc9c;
$blue: #4065a9;
$purple: #8e44ad;
$red: #e74c3c;
$white-ter: #f5f5f5;
$primary: #34495e !default;
$yellow-invert: #fff;

$family-sans-serif: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Inconsolata", "Consolas", "Monaco", monospace;

$radius-small: 3px;
$radius: .4em;
$radius-large: 8px;

$size-7: .85em;
$title-weight: 500;
$subtitle-weight: 400;
$subtitle-color: darken($grey, 20);

$border-width: 2px;

$body-size: 15px;
$footer-background-color: $charcoal;

$text: $primary;
$text-light: lighten($primary, 10);
$text-strong: darken($primary, 5);

$box-color: $text;
$box-background-color: $white-ter;
// $box-shadow: none;

$link: $blue;
$link-hover: darken($link, 10);
$link-focus: darken($link, 10);
$link-active: darken($link, 10);

$button-color: $primary;
$button-hover-color: darken($primary, 5); // primary-dark
$button-focus: darken($primary, 5); // primary-dark
$button-active-color: darken($primary, 5); // primary-dark

$navbar-height: 4rem;
$navbar-background-color: $primary;
$navbar-item-color: $white-ter;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $link;
$navbar-dropdown-arrow: #fff;
$navbar-dropdown-background-color: $white-ter;
$navbar-divider-background-color: $grey-lighter;
$navbar-dropdown-border-top: 1px solid $navbar-divider-background-color;
$navbar-dropdown-item-hover-color: $link;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-dropdown-item-active-color: $link;

$bulmaswatch-import-font: true !default;


//bulma
@import "node_modules/bulma/bulma";


// Overrides
@if $bulmaswatch-import-font {
    @import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic&display=swap);
}

hr {
  height: $border-width;
}

h6 {
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

a {
  transition: all 200ms ease;
}

.button {
  transition: all 200ms ease;
  border-width: $border-width;

  &.is-active,
  &.is-focused,
  &:active,
  &:focus {
    box-shadow: 0 0 0 2px rgba($button-focus-border-color, 0.25);
  }
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      &.is-active,
      &.is-focused,
      &:active,
      &:focus {
        border-color: $color;
        box-shadow: 0 0 0 2px rgba($color, 0.25);
      }
    }
  }
}

.button,
.control.has-icons-left .icon,
.control.has-icons-right .icon,
.input,
.pagination-ellipsis,
.pagination-link,
.pagination-next,
.pagination-previous,
.select,
.select select,
.textarea {
  height: 2.5em;
}

.input,
.textarea {
  transition: all 200ms ease;
  box-shadow: none;
  border-width: $border-width;
}

.select {
  &:after,
  select {
    border-width: $border-width;
  }
}

.control {
  &.has-addons {
    .button,
    .input,
    .select {
      margin-right: -$border-width;
    }
  }
}

.card {
  box-shadow: none;
  border: $border-width solid $grey-lighter;
  background-color: $white-bis;
  border-radius: $radius;

  .card-image {
    img {
      border-radius: $radius $radius 0 0;
    }
  }

  .card-header {
    box-shadow: none;
    background-color: rgba($white-ter, 0.8);
    border-radius: $radius $radius 0 0;
  }

  .card-footer {
    background-color: rgba($white-ter, 0.8);
  }

  .card-footer,
  .card-footer-item {
    border-width: $border-width;
  }
}

.notification {
  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      a:not(.button) {
        color: $color-invert;
        text-decoration: underline;
      }
    }
  }
}

.tag {
  border-radius: $radius;
}

.menu-list li a {
  transition: all 300ms ease;
}

.message-header {
  font-weight: $weight-bold;
}

.message-body {
  border-width: $border-width;
}

.navbar {
  border-radius: $radius;

  .navbar-menu {
    box-shadow: none;
  }

  .navbar-dropdown {
    box-shadow: none;
    .navbar-item {
      color: $button-color;
    }
  }

  @include touch {
    color: $navbar-item-color;
    .navbar-menu {
      background-color: $navbar-dropdown-background-color;
      border-radius: 0 0 $radius $radius;
    }

    .navbar-item,
    .navbar-link {
      &:not(.is-active):not(:hover) {
        color: $button-color;
      }
    }
  }

  &.is-transparent {
    background-color: transparent;
    color: $text;

    .navbar-item,
    .navbar-link {
      color: $button-color;

      &:hover {
        color: $link;
        background-color: transparent;
      }

      &.is-active {
        color: $link;
        background-color: transparent;
      }
    }

    .navbar-link:after {
      border-color: $button-color;
    }

    .navbar-burger:hover {
      background-color: $white-ter;
    }
  }
}

.hero .navbar,
body > .navbar {
  border-radius: 0;
}

.pagination-link,
.pagination-next,
.pagination-previous {
  border-width: $border-width;
}

.panel-block,
.panel-heading,
.panel-tabs {
  border-width: $border-width;

  &:first-child {
    border-top-width: $border-width;
  }
}

.panel-heading {
  font-weight: $weight-bold;
}

.panel-tabs {
  a {
    border-width: $border-width;
    margin-bottom: -$border-width;
  }
}

.panel-block {
  &:hover {
    color: $button-hover-color;

    .panel-icon {
      color: $button-hover-color;
    }
  }
}

.tabs {
  a {
    border-bottom-width: $border-width;
    margin-bottom: -$border-width;
  }

  ul {
    border-bottom-width: $border-width;
  }

  &.is-boxed {
    a {
      border-width: $border-width;
    }
  }

  &.is-toggle {
    li a {
      border-width: $border-width;
      margin-bottom: 0;
    }

    li + li {
      margin-left: -$border-width;
    }
  }
}

.hero {
  .navbar {
    background-color: $primary;
    .navbar-menu {
      border-radius: 0;
    }
  }

  @each $name, $pair in $colors {
    $color: nth($pair, 1);
    $color-invert: nth($pair, 2);

    &.is-#{$name} {
      .navbar {
        background-color: $color;

        .navbar-item,
        .navbar-link {
          &:not(.is-active):not(:hover) {
            color: $color-invert;
          }
        }

        @include desktop {
          .navbar-dropdown {
            .navbar-item:not(.is-active):not(:hover) {
              color: $button-color;
            }
          }
        }
      }
    }
  }
}

