{% set navigation_bar = [
    ('General', [
      (url_for("default"), 'dashboard', 'Dashboard', 'fa fa-tachometer-alt')
    ], false),
    ('Settings', [
      (url_for("settings_tokens"), 'settings_tokens', 'Personal Access Tokens', 'fa fa-key')
    ], false),
    ('Administration', [
      (url_for("admin_users"), 'admin_users', 'User Management', 'fa fa-user')
    ], true),
] -%}

{% set active_page = active_page|default('dashboard') -%}



<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Afterglow Core Dashboard</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <script src="{{url_for('static', filename='js/afterglow-core.js')}}"></script>

  <!-- Fonts -->
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">

  {% block scripts %}
  
  {% endblock %}
</head>
<body>
<div id="app">
  <nav id="navbar-main" class="navbar is-fixed-top">
    <div class="navbar-brand">
      <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
        <span class="icon"><i class="fa fa-bars"></i></span>
      </a>
    </div>
    <div class="navbar-brand is-right">
      <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
        <span class="icon"><i class="fa fa-ellipsis-v"></i></span>
      </a>
    </div>
    <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
      <div class="navbar-end">
        {# <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
          <a class="navbar-link is-arrowless">
            <span class="icon"><i class="fa fa-bars"></i></span>
            <span>Menu</span>
            <span class="icon">
            <i class="fa fa-chevron-down"></i>
          </span>
          </a>
          <div class="navbar-dropdown">
            
          </div>
        </div> #}
        <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
          <a class="navbar-link is-arrowless">
            <div class="is-user-avatar">
              <img src="https://avatars.dicebear.com/v2/initials/{{current_user.display_name}}.svg" alt="{{current_user.display_name}}">
            </div>
            <div class="is-user-name"><span>{{current_user.display_name}}</span></div>
            <span class="icon"><i class="fa fa-chevron-down"></i></span>
          </a>
          <div class="navbar-dropdown">
            <a class="navbar-item">
              <span class="icon"><i class="fa fa-tachometer-alt"></i></span>
              <span>Dashboard</span>
            </a>
            <a class="navbar-item" href="{{url_for('settings_tokens')}}">
              <span class="icon"><i class="fa fa-key"></i></span>
              <span>Personal Access Tokens</span>
            </a>
            {# <a class="navbar-item" href="{{url_for('settings_profile')}}">
              <span class="icon"><i class="fa fa-user"></i></span>
              <span>Profile</span>
            </a> #}

          </div>
        </div>
        <a href="" title="Documentation" class="navbar-item has-divider is-desktop-icon-only">
          <span class="icon"><i class="fa fa-question"></i></span>
          <span>Documentation</span>
        </a>
        <a title="Log out" href="{{url_for('logout')}}" class="navbar-item is-desktop-icon-only">
          <span class="icon"><i class="fa fa-sign-out-alt"></i></span>
          <span>Log out</span>
        </a>
      </div>
    </div>
  </nav>
  <aside class="aside is-placed-left is-expanded">
    <div class="aside-tools">
      <div class="aside-tools-label">
        <img src="{{url_for('static', filename='img/logo-full.png')}}" alt="Afterglow Logo" style="max-width: 200px; padding: 15px;">
      </div>
    </div>
    <div class="menu is-menu-main">
    {% for nav_group, nav_items, admin_required in navigation_bar %}
      {% if current_user.is_admin or not admin_required %}
        <p class="menu-label">{{ nav_group }}</p>
        <ul class="menu-list">
        {% for href, id, caption, icon in nav_items %}
          <li>
            <a href="{{ href }}" class="router-link-active has-icon level {% if id == active_page %}is-active{% endif%}">
              <div class="level-left">
                <span class="icon"><i class="{{icon}}"></i></span>
                <span class="menu-item-label">{{caption}}</span>
              </div>
            </a>
          </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endfor %}
    </div>
  </aside>
  <section class="section is-title-bar">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <ul>
            <li>{%block title%}{%endblock%}</li>
          </ul>
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <div class="buttons is-right">
            
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section class="section is-main-section">
    {% block content %} {% endblock %}
  </section>

</div>

<!-- Stuff below is for demo-only -->

</body>
</html>
