{% extends "base-hero.html.j2" %}
{% block content %}
<div class="column has-text-centered">
  <div class="content">
    <a href="/">
      <img src="{{url_for('static', filename='img/logo-full.png')}}" alt="Afterglow Logo" style="max-width: 450px;">
    </a>
  </div>

  <div class="columns is-multiline is-centered">
    
    <div class="column is-5-tablet is-4-desktop is-3-widescreen ">
      <div class="panel has-text-left has-background-white">
        <p class="panel-heading">Log in</p>
        <div class="panel-block">
          <div class="container">
            <login-form next-url="{{next_url}}" cancel-url="{{url_for('default')}}"></login-form>
          </div>

        </div>
      </div>
    </div>

    {%if oauth_plugins | length > 0 %}
    <div class="column is-5-tablet is-4-desktop is-3-widescreen ">
      <div class="panel has-text-left has-background-white">
        <p class="panel-heading">Login Services</p>
        {% for oauth_plugin in oauth_plugins %}
        <div class="panel-block">
          <div class="container">
            <a class="button is-normal is-fullwidth" href="{{oauth_plugin.construct_authorize_url(state={'next': next_url})}}">
              {% if oauth_plugin.icon %}
              <span class="icon is-small" style="margin-right: 0.75em;">
                <img src="{{url_for('static', filename='plugins/%s' % oauth_plugin.icon)}}">
              </span>
              {% endif %}
              <span>{{oauth_plugin.description}}</span>
            </a>
            
          </div>
        </div>
        {% endfor %}
      </div>

    </div>
    {% endif %}
  </div>
</div>
{% endblock %}