{% extends "base-hero.html.j2" %}
{% block content %}
<div class="column has-text-centered">
  <div class="content">
    <a href="/">
      <img src="{{url_for('static', filename='img/logo-full.png')}}" alt="Afterglow Logo" style="max-width: 450px;">
    </a>
  </div>

  <div class="columns is-multiline is-centered">
    
    <div class="column is-7-tablet is-6-desktop is-5-widescreen ">
      <div class="panel has-text-left has-background-white">
        <p class="panel-heading">Third-party Application Consent</p>
        <div class="panel-block">
          <div class="container">
            <authorize-app-form next-url="{{next_url}}" id="{{oauth_client.client_id}}"
              name="{{oauth_client.name}}" description="{{oauth_client.description}}"
              icon="{{url_for('static', filename='plugins/{}'.format(oauth_client.icon)) if oauth_client.icon else 'null' }}">
            </authorize-app-form>
            
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}