{% extends "base.html.j2" %}
{% set active_page = "settings_tokens" %}

{% block title %}
Personal Access Tokens
{% endblock %}

{% block content %}
<div class="container">
    <div class="box">
        <div class="content">
            <p>Personal access tokens function like ordinary OAuth access tokens. They can be used to authenticate calls to the API over Basic Authentication.</p>
            
            <div class="table-container">
            <create-token-form cancel-url="{{url_for('default')}}"></create-token-form>
            </div>
        </div>
    </div>

    <div class="card has-table has-mobile-sort-spaced">
        <header class="card-header">
            <p class="card-header-title">
            <span class="icon"><i class="fa fa-external-link-square-alt"></i></span>
            Personal Access Tokens
            </p>
            <a href="#" class="card-header-icon" v-on:click="refreshTokens();">
            <span class="icon"><i class="fa fa-sync-alt"></i></span>
            </a>
        </header>
        <div class="card-content">
            <tokens-table ref="tokensTable"></tokens-table>
        </div>
    </div>
</div>



{%endblock%}

{% block scripts %}
{{ super() }}

<script>

    var refreshTokens = () => {};
    window.addEventListener(window.APP_MOUNTED_EVENT, (evt) => {
        var app = evt.detail;
         refreshTokens = () => {
             app.$refs.tokensTable.loadAsyncData();
        }

        app.$root.$on('token_created', () => {
            refreshTokens();
        });
    });
</script>

{% endblock %}